/* SITE BACKGROUND */

#siteBackground {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
    border-radius: 0;
}
.loaded #siteBackground {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    top: 18px;
    right: 18px;
    bottom: 18px;
    left: 18px;
    border-radius: 8px;
}



/* LANDING CONTENT */

#landingContent {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 22px;
    right: 22px;
    opacity: 0;
    text-align: center;
}
.loaded #landingContent {
    transition: .6s opacity ease-out 1s;
    -webkit-transition: .6s opacity ease-out 1s;
    opacity: 1;
}
#logoMark img {
    margin: 0 auto;
    width: 116px !important;
    max-height: none !important;
    height: auto;
}
#logoText img {
    margin: 60px auto 0 auto;
    width: 180px !important;
    height: auto;
}
#logoMark {
    float: none;
}
#logoText {
    float: none;
    margin: 0;
}


.intro {
    margin: 50px auto;
    max-width: 320px;
    font-size: 16px;
    color: #575757;
}



/* STARS */

.stars {
    position: absolute;
    opacity: .4;
    transform: scale(.5);
    -webkit-transform: scale(.5);
}
.loaded .stars {
    transition: top .4s ease-out, right .4s ease-out, bottom .4s ease-out, left .4s ease-out, transform .6s ease-out, opacity 1s ease-out;
    -webkit-transition: top .4s ease-out, right .4s ease-out, bottom .4s ease-out, left .4s ease-out, transform .6s ease-out, opacity 1s ease-out;
    transition-delay: .2s;
    -webkit-transition-delay: .2s;
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}
#starsTopLeft.stars {
    top: 50%;
    left: 50%;
    width: 404px;
}
.loaded #starsTopLeft.stars {
    transform-origin: left top;
    -webkit-transform-origin: left top;
    top: 2.5%;
    left: 2.5%;
}
#starsTopRight.stars {
    top: 50%;
    right: 50%;
    width: 290px;
}
.loaded #starsTopRight.stars {
    transform-origin: right top;
    -webkit-transform-origin: right top;
    top: 2.5%;
    right: 2.5%;
}
#starsBottomRight.stars {
    bottom: 50%;
    right: 50%;
    width: 8px;
}
.loaded #starsBottomRight.stars {
    transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    bottom: 2.5%;
    right: 2.5%;
}
#starsBottomLeft.stars {
    bottom: 50%;
    left: 50%;
    width: 144px;
}
.loaded #starsBottomLeft.stars {
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    bottom: 2.5%;
    left: 2.5%;
}
.stars svg g polygon {
    fill: #999;
}

@keyframes starTwinkle {
    0% { opacity: 1; }
    50% { opacity: .4; }
    100% { opacity: 1; }
}
.loaded .star {
    animation: starTwinkle 3s ease-out infinite;
    -webkit-animation: starTwinkle 3s ease-out infinite;
}
.star.two {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
.star.three {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}
.star.four {
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}
.star.five {
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}



/* SMALL MEDIA ADJUSTMENTS */


@media (max-width:600px) {
    .loaded #siteBackground {
        top: 16px;
        right: 16px;
        bottom: 16px;
        left: 16px;
    }
    .intro {
        font-size: 15px;
    }
    #logoMark img {
        width: 100px;
    }
    #logoText img {
        margin-top: 40px;
        width: 160px;
    }
    .loaded #starsTopLeft.stars {
        width: 304px;
    }
    .loaded #starsTopRight.stars {
        width: 200px;
    }
    .loaded #starsBottomRight.stars {
        width: 8px;
    }
    .loaded #starsBottomLeft.stars {
        width: 100px;
    }
}


.contactEmail {
    margin-top: 30px;
    font-size: 13px;
}