/* It Works */

/* LOAD FONTS */


@import '//fonts.googleapis.com/css?family=Fjalla+One|Roboto|Roboto+Slab:300,400,700';



/* BODY */

body {
    background: #FFF;
}
body, p {
    color: #555;
}


/* LINKS & BUTTONS */

a:link, a:visited, a:active{
    color: #C5BB3E;
}
a:hover {
    color: #888;
}

.btn,
.btn:link,
.btn:visited,
.btn:active {
    padding: 16px 28px;
    font-size: 17px;
    font-weight: 400;
    color: #575757;
    letter-spacing: .01em;
    text-transform: uppercase;
    background-color: #FBDC00;
    border: 2px solid #FBDC00;
    border-radius: 6px;
}
.btn:hover {
    color: #222;
    background-color: #FFF;
}
.btnGradient{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    background: -webkit-linear-gradient(rgba(255,255,255, .3), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(rgba(255,255,255, .3), rgba(255, 255, 255, 0));
    background: linear-gradient(rgba(255,255,255, .3), rgba(255, 255, 255, 0));
}

/* TITLES & HEADERS */

h1 {
    color: #474747;
    font-size: 65px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
}
h2 {
    color: #444;
    font-size: 30px;
    font-weight: 300;
}
h3 {
    color: #333;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media (max-width:768px) {
    h1 {
        font-size: 50px;
    }
}

/* STANDARD TEXT STYLES */

.pullout {
    color: #777;
    font-weight: 300;
}
.bodyLarge {
    font-size: 26px;
}

/* ASSIGN FONTS */

/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */

h1 {
    font-family: 'Fjalla One', serif;
}
h2,
h3,
h4,
.fontPrimary,
.fontPrimary p,
.fontSecondary,
.fontSecondary p,
.fontBody,
.fontBody p,
.pullout,
.btn,
.moduleContainer h2 {
    font-family: 'Roboto Slab', serif;
}

.fontBody,
.fontBody p {
    font-weight: 300;
}



/* BACKGROUNDS */

/* This color is used for header bars and date boxes and must be dark enough to read reversed text in. */
.backgroundAccentColor {
    background-color: #F94E54;
}
.backgroundDark {
    background: #282828;
}
.backgroundDark a:hover {
    color: #FFF;
}
.backgroundPriority {
    background: #FE7C57;
}


/* SITE BACKGROUND */

.loaded .landingFull #siteBackground {
    margin: 0;
}

/* HEADER */

#headerBackground {
    background: rgba(255,255,255,.96);
}
#headerContainer {
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 4px #DDD;
}
#header{
    padding: 10px 40px;
}
#betaSignupBtn {
    float: right;
    margin-top: 22px;
    padding: 10px 20px;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    background: #FE7C57;
    border: 2px solid #FE7C57;
}
#betaSignupBtn:hover {
    color: #222;
    background: #FFF;
}
#logoHeader {
    margin-bottom: -18px;
    padding-right: 30px;
    max-width: 270px;
}
#navMainContainer {
    margin-top: 37px;
    max-width: 100%;
}
#navMainContainer ul li {
    padding: 0;
    display: table;
}
.navMainLink a {
    position: relative;
    padding: 0 17px 6px 17px;
    color: #494949;
    font-weight: bold;
    text-transform: uppercase;
}
.navMainLink a:hover {
    color: #222;
}
.navMainLink a .linkOrnament {
    position: absolute;
    top: 7px;
    left: 0;
    width: 7px;
    height: 7px;
    background: #FCEE27;
}
.navMainLink a:hover .linkOrnament {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transform: scale(0);
    -webkit-transform: scale(0);
}
.navMainLink a .linkUnderline {
    transform: scaleX(.2);
    -webkit-transform: scaleX(.2);
    position: absolute;
    right: 17px;
    left: 17px;
    bottom: 4px;
    height: 2px;
    background: #FFF;
}
.navMainLink a:hover .linkUnderline {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    bottom: 0;
    background: #222;
}



@media (max-width:1200px) {
    #logoHeader {
        margin-bottom: -18px;
        padding-right: 22px;
        max-width: 210px;
    }
    #betaSignupBtn {
        margin-top: 12px;
    }
    #navMainContainer {
        margin-top: 26px;
    }
    .navMainLink a {
        padding-left: 14px;
        padding-right: 14px;
    }
}
@media (max-width:1050px) {
    .navMainLink a .linkOrnament {
        position: absolute;
        top: 5px;
        left: 0;
    }
    .navMainLink a {
        font-size: 12px;
    }
}
@media (max-width:991px) {
    #sidebarToggle {
        top: 32px;
        right: 40px;
    }
    #headerContainer.retracting.offScreen.offScreenScrollUp #sidebarToggle {
        top: 20px;
    }
    #header {
        height: 62px;
    }
    #logoHeader {
        margin-bottom: -8px;
    }
    #header #betaSignupBtn {
        display: none;
    }
    #betaSignupBtn {
        float: none;
        margin-bottom: 20px;
    }
    #shellSidebar .borderDashed {
        margin-top: 20px;
        padding-top: 20px;
    }
    #shellSidebar #navMainContainer,
    #navMainContainer .list-inline > li {
        display: block;
        padding: 0 0 12px 0;
    }
    #shellSidebar .navMainLink a .linkOrnament {
        display: none;
    }
    #shellSidebar .navMainLink a .linkUnderline {
        transform-origin: left center;
        -webkit-transform-origin: left center;
        left: 0;
        right: 0;
        background: #222;
    }
    #shellSidebar .navMainLink a:hover .linkUnderline {
        background: #666;
    }
    .navMainLink a {
        padding: 0 0 6px 0;
        font-weight: 400;
        font-size: 13px;
        color: #999;
    }
    .navMainLink a:hover {
        color: #FFF;
    }
}




/* RETRACTING HEADER */

#headerContainer.retracting.offScreen.offScreenScrollUp #headerBackground {
    box-shadow: 0 1px 6px rgba(33,33,33,.1);
    border-bottom: 1px solid #DDD;
}
#headerContainer.retracting.offScreen.offScreenScrollUp #logoHeader {
    max-width: 150px;
}
#headerContainer.retracting.offScreen.offScreenScrollUp #navMainContainer {
    margin-top: 12px;
}
#headerContainer.retracting.offScreen.offScreenScrollUp .navMainLink a {
    font-size: 13px;
}
#headerContainer.retracting.offScreen.offScreenScrollUp #betaSignupBtn {
    margin-top: 1px;
    font-size: 13px;
    font-weight: bold;
}




/* BORDERS */

.borderDashed {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashed.png') repeat-x;
    background-size: 6px;
}
.borderDashedLight {
    margin-top: 20px;
    padding-top: 20px;
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedLight.png') repeat-x;
    background-size: 6px;
}
.borderDashedVertical {
    background: url('/sitetheory/v/1/0/bundles/sitetheorytemplatecustom/images/borderDashedVertical.png') repeat-y;
    background-size: 1px;
}




/* ACTION BUTTON */

.actionButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* 8px of bottom padding are added by the animated border below */
    padding: 16px 30px 8px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #575757;
    border: 2px solid #FBDC00;
    border-radius: 6px;
}
.actionButton:hover {
    color: #DFC100;
}

.actionButtonHover,
.actionButtonHoverMask {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    position: absolute;
}
.actionButtonHover.left {
    transform: translateX(160px);
    -webkit-transform: translateX(160px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -16px;
    border: 4px solid #FFF;
    border-radius: 6px;
}
.actionButton:hover .actionButtonHover.left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonHoverMask.left {
    overflow: hidden;
    transform: translateX(-160px);
    -webkit-transform: translateX(-160px);
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    margin: -2px;
}
.actionButton:hover .actionButtonHoverMask.left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.actionButtonHover.right {
    transform: translateX(-160px);
    -webkit-transform: translateX(-160px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: -16px;
    border: 4px solid #FFF;
    border-radius: 6px;
}
.actionButton:hover .actionButtonHover.right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonHoverMask.right {
    overflow: hidden;
    transform: translateX(160px);
    -webkit-transform: translateX(160px);
    top: 0;
    right: 0;
    bottom: 0;
    width: 55%;
    margin: -2px;
}
.actionButton:hover .actionButtonHoverMask.right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonBorder {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    padding-bottom: 8px;
    border-bottom: 2px solid #FBDC00;
}
.actionButton:hover .actionButtonBorder {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}





/* FOOTER */

#footer {
    margin: 0 0 40px 0;
    font-size: 11px;
}
#footer a {
    color: #222;
}
#footer a:hover {
    color: #C5BB3E;
}
@media (max-width: 767px) {
    .footerPhone.pull-right {
        float: none !important;
        padding-bottom: 10px;
    }
}

/* BETA SIGNUP FORM */

/* TODO: remove betaSignup when complete */


#betaSignup {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    transform: scale(.4);
    -webkit-transform: scale(.4);
    position: fixed;
    z-index: 1001;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    text-align: center;
}
#betaSignup.active {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}
#betaSignupContent {
    display: none;
    position: relative;
    width: 400px;
    margin: 40px auto 80px auto;
    padding: 40px;
    background-color: rgba(255,255,255,.8);
    border: 1px solid rgba(255,255,255,.15);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
    box-shadow: 0 0 3px rgba(0,0,0,.1);
}
/* Internet Explorer adjustment */
.msie #betaSignupContent {
    background-color: #FFF;
}
#betaSignup.active #betaSignupContent {
    display: block;
}
#betaSignup .btnClose {
    position: absolute;
    top: 18px;
    right: 16px;
    float: none;
}
#betaSignup .btnClose svg g,
#betaSignup .btnClose svg .oval {
    stroke: rgba(0,0,0,.2);
}
#betaSignup .btnClose:hover svg g,
#betaSignup .btnClose:hover svg .oval {
    stroke: #000;
}
#betaSignup .logo img {
    margin: 0 auto;
    width: 80px;
}
#betaSignupContent h2 {
    margin-bottom: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
#betaSignup .note {
    color: #888;
    margin-bottom: 26px;
}
#betaSignup .form-control {
    height: 50px;
    text-align: center;
    font-size: 15px;
    letter-spacing: .02em;
    color: #333;
}
#betaSignup .disclaimer {
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #666;
    font-size: 10px;
}
#betaSignup #success_message {
    transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    position: absolute;
    top: 55%;
    left: 20%;
    width: 60%;
}
.msie #betaSignup  #success_message {
    position: relative;
    top: inherit;
    left: inherit;
}
#betaSignup #success_message h2 {
    margin-bottom: 10px;
}
#betaSignup .btn {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    margin: 16px auto 0 auto;
    padding: 14px 35px;
    color: #222;
    font-size: 15px;
    background: #FBDC00;
    border: 2px solid #FFF;
}
#betaSignup .btn .btnGradient {
    opacity: 1;
}
#betaSignup .btn:hover {
    background: #FFF;
    border: 2px solid #FBDC00;
}

/* On success */
/* Hide Form after Success (display:none is removed) */
#betaSignup #success_message[style=""] + form .logo {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
}
#betaSignup #success_message[style=""] + form .btnClose,
#betaSignup #success_message[style=""] + form .form-control,
#betaSignup #success_message[style=""] + form .signupAction,
#betaSignup #success_message[style=""] + form .betaTitle,
#betaSignup #success_message[style=""] + form p {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
}
@media (max-width: 600px) {
    #betaSignupContent {
        width: 300px;
        padding: 30px;
    }
}


/**
 Screen Dim
 **/

body.dim {
    background-color: #F2F2F2;
}
body.dim #app {
    filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: .5;
}
