{% extends view.templates.shell %}



{% block contentType %}
    <div id="TermsConditions" class="fontPrimary">
        <p class="bodyLarge"><strong>Our promise:</strong> A great date within 30 days.</p>


        <p>How does this work practically?</p>
        <br><br>

        <div class="borderDashed">
            <br>
            <p><strong>Step #1:</strong> We give you premium features when you sign up. (No cost, contract, or credit card.)</p>


            <p><strong>Step #2:</strong> You use the app to connect on lowkey 45 min dates with local singles.</p>


            <p><strong>Step #3:</strong> You tell us how each meetup went (just one click). Options include:</p>

            <ol>
                <li>“Loved it — would see again.”</li>
                <li>“Liked it — wouldn’t see again.”</li>
                <li>“Hated it — report behavior.”</li>
            </ol>

            <p><strong>Step #4:</strong> Once you report having had your first great (“loved it”) date, you can choose:</p>

            <ol>
                <li>To keep the premium features for $5/mo. (No contracts. No funny business. We’ll happily refund any month where you didn’t use it or felt you didn’t get your money’s worth.)</li>


                <li>To drop the premium features and stay on with a free account. (We won’t remove features you need. It will still be a great experience. Just like a sundae without whipped cream.)</li>
            </ol>

            <p><strong>Step #5:</strong> If you don’t experience a great date within 30 days (minimum of three attempts), we’ll give you the option of closing your account in return for a free drink voucher — or else staying around and enjoying three additional months of premium for free.</p>


        </div>

        <br>
        <div class="borderDashed">

            <p class="note"><strong>Note #1:</strong> Further dates are conditioned on both parties saying “loved it”. Sometimes you’ll consider it a great date they’ll go with just “liked it”. That always sucks. But remember that outcomes don’t define what a thing was. A one-time time thing can still be great. Wwe believe anything less than an enthusiastic “yes” isn’t worth your time in the long run. Keep your head up.</p>

            <p class="note"><strong>Note #2:</strong> You just might end up exclusively dating someone you meet through Launch (yay!). If that happens, just tell us and we’ll stop charging you for premium features (if you were paying for them). We’ll change your account type so you can help your Crew while not receiving your own matches.</p>
        </div>
    </div>
{% endblock contentType %}