{% extends view.templates.shell %}

{% block contentType %}
    <div data-entity="User" data-manifest="true" data-pipeline="message" data-messageSuccess="You rock! We'll let you know when the app is ready.">
        <div data-type="text" data-property="email" data-label="Email"></div>
        {#<div data-type="text" data-property="username" data-label="Username"></div>#}
        <div data-type="select" data-property="settings.gender" data-label="Gender"
             data-ui="menu"
             data-placeholder="---"
             data-choices='{{ environment.site.optionMap.gender|json_encode }}'
        ></div>
        <div id="formSubmit" class="action btn btnSave" data-type="save" data-redirect="" data-status="load" data-iconPath="">Join</div>
    </div>
{% endblock contentType %}
