/* It Works */

/* LOAD FONTS */


@import url(//fonts.googleapis.com/css?family=Glegoo:400,700);



/* BODY */

body {
    background: #444;
}
body, p {
    color: #555;
}


/* LINKS & BUTTONS */

a:link, a:visited, a:active{
    color: #F94E54;
}
a:hover {
    color: #333;
}
.btn,
.btn:link,
.btn:visited,
.btn:active {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #F94E54;
}
.btn:hover {
    background-color: #222;
}


/* TITLES & HEADERS */

h1 {
    color: #CCC;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
}
h2 {
    color: #313131;
    font-size: 30px;
    font-weight: 300;
}
h3 {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* STANDARD TEXT STYLES */

.pullout {
    color: #777;
    font-weight: 300;
}


/* ASSIGN FONTS */

/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */

h1,
h2,
h3,
h4,
.fontPrimary,
.fontPrimary p,
.fontSecondary,
.fontSecondary p,
.fontBody,
.fontBody p,
.pullout,
.btn,
.moduleContainer h2 {
    font-family: 'Glegoo', sans-serif;
}


/* BACKGROUNDS */

/* This color is used for header bars and date boxes and must be dark enough to read reversed text in. */
.backgroundAccentColor {
    background-color: #F94E54;
}



/* SITE BACKGROUND */

#siteBackground {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFF;
    border: 1px solid #000;
    border-radius: 0;
}
.loaded #siteBackground {
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    top: 22px;
    right: 22px;
    bottom: 22px;
    left: 22px;
    border-radius: 17px;
}


/* OUTER BORDER BOLTS */

.hexBolt {
    position: fixed;
    width: 11px;
    height: 12px;
    opacity: .4;
    background: url('../images/hexBolt.png') no-repeat;
    background-size: 11px;
}
.hexBolt.one {
    top: 11px;
    left: 11px;
}
.hexBolt.two {
    top: 11px;
    right: 11px;
}
.hexBolt.three {
    right: 11px;
    bottom: 11px;
}
.hexBolt.four {
    bottom: 11px;
    left: 11px;
}



/* LANDING CONTENT */

#landingContent {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 22px;
    right: 22px;
    opacity: 0;
    text-align: center;
}
.loaded #landingContent {
    transition: .6s opacity ease-out 1s;
    -webkit-transition: .6s opacity ease-out 1s;
    opacity: 1;
}
#logoMark img {
    margin: 0 auto;
    width: 116px;
}
#logoText img {
    margin: 60px auto 0 auto;
    width: 180px;
}
.intro {
    margin: 50px auto 0 auto;
    max-width: 320px;
    font-size: 16px;
    color: #575757;
}


/* ACTION BUTTON */

.actionButton a {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    /* 8px of bottom padding are added by the animated border below */
    padding: 20px 30px 12px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    border: 2px solid #FBDC00;
    border-radius: 9px;
}
.actionButton a:hover {
    color: #DFC100;
}

.actionButtonHover,
.actionButtonHoverMask {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    position: absolute;
}
.actionButtonHover.left {
    transform: translateX(160px);
    -webkit-transform: translateX(160px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -16px;
    border: 2px solid #FFF;
    border-radius: 9px;
}
.actionButton a:hover .actionButtonHover.left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonHoverMask.left {
    overflow: hidden;
    transform: translateX(-160px);
    -webkit-transform: translateX(-160px);
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    margin: -2px;
}
.actionButton a:hover .actionButtonHoverMask.left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.actionButtonHover.right {
    transform: translateX(-160px);
    -webkit-transform: translateX(-160px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: -16px;
    border: 2px solid #FFF;
    border-radius: 9px;
}
.actionButton a:hover .actionButtonHover.right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonHoverMask.right {
    overflow: hidden;
    transform: translateX(160px);
    -webkit-transform: translateX(160px);
    top: 0;
    right: 0;
    bottom: 0;
    width: 55%;
    margin: -2px;
}
.actionButton a:hover .actionButtonHoverMask.right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonBorder {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    padding-bottom: 8px;
    border-bottom: 2px solid #FBDC00;
}
.actionButton a:hover .actionButtonBorder {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}



/* STARS */

.stars {
    position: absolute;
    opacity: .4;
    transform: scale(.5);
    -webkit-transform: scale(.5);
}
.loaded .stars {
    transition: top .4s ease-out, right .4s ease-out, bottom .4s ease-out, left .4s ease-out, transform .6s ease-out, opacity 1s ease-out;
    -webkit-transition: top .4s ease-out, right .4s ease-out, bottom .4s ease-out, left .4s ease-out, transform .6s ease-out, opacity 1s ease-out;
    transition-delay: .5s;
    -webkit-transition-delay: .5s;
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}
#starsTopLeft.stars {
    top: 50%;
    left: 50%;
    width: 404px;
}
.loaded #starsTopLeft.stars {
    transform-origin: left top;
    -webkit-transform-origin: left top;
    top: 2.5%;
    left: 2.5%;
}
#starsTopRight.stars {
    top: 50%;
    right: 50%;
    width: 290px;
}
.loaded #starsTopRight.stars {
    transform-origin: right top;
    -webkit-transform-origin: right top;
    top: 2.5%;
    right: 2.5%;
}
#starsBottomRight.stars {
    bottom: 50%;
    right: 50%;
    width: 8px;
}
.loaded #starsBottomRight.stars {
    transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    bottom: 2.5%;
    right: 2.5%;
}
#starsBottomLeft.stars {
    bottom: 50%;
    left: 50%;
    width: 144px;
}
.loaded #starsBottomLeft.stars {
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    bottom: 2.5%;
    left: 2.5%;
}
.stars svg g polygon {
    fill: #888;
}

@keyframes starTwinkle {
    0% { opacity: 1; }
    50% { opacity: .4; }
    100% { opacity: 1; }
}
.loaded .star {
    animation: starTwinkle 3s ease-out infinite;
    -webkit-animation: starTwinkle 3s ease-out infinite;
}
.star.two {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
.star.three {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}
.star.four {
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
}
.star.five {
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}



/* SMALL MEDIA ADJUSTMENTS */


@media (max-width:600px) {
    .loaded #siteBackground {
        top: 16px;
        right: 16px;
        bottom: 16px;
        left: 16px;
    }
    .hexBolt {
        width: 8px;
        height: 10px;
        opacity: .7;
        background-size: 8px;
    }
    .hexBolt.one {
        top: 9px;
        left: 9px;
    }
    .hexBolt.two {
        top: 9px;
        right: 9px;
    }
    .hexBolt.three {
        right: 9px;
        bottom: 9px;
    }
    .hexBolt.four {
        bottom: 9px;
        left: 9px;
    }
    .intro {
        font-size: 15px;
    }
    #logoMark img {
        width: 100px;
    }
    #logoText img {
        margin-top: 40px;
        width: 160px;
    }
    .loaded #starsTopLeft.stars {
        width: 304px;
    }
    .loaded #starsTopRight.stars {
        width: 200px;
    }
    .loaded #starsBottomRight.stars {
        width: 8px;
    }
    .loaded #starsBottomLeft.stars {
        width: 100px;
    }
}