/* It Works */

/* LOAD FONTS */


@import url(//fonts.googleapis.com/css?family=Glegoo:400,700);



/* BODY */

body {
    background: #444;
}
body, p {
    color: #555;
}


/* LINKS & BUTTONS */

a:link, a:visited, a:active{
    color: #F94E54;
}
a:hover {
    color: #333;
}
.btn,
.btn:link,
.btn:visited,
.btn:active {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #F94E54;
}
.btn:hover {
    background-color: #222;
}


/* TITLES & HEADERS */

h1 {
    color: #CCC;
    font-size: 200px;
    font-weight: 100;
    text-align: center;
}
h2 {
    color: #313131;
    font-size: 30px;
    font-weight: 300;
}
h3 {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
h4 {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* STANDARD TEXT STYLES */

.pullout {
    color: #777;
    font-weight: 300;
}


/* ASSIGN FONTS */

/* .primaryFont will be used for the site's typographical logo and some site headers. It must also be legible at small sizes.  */

h1,
h2,
h3,
h4,
.fontPrimary,
.fontPrimary p,
.fontSecondary,
.fontSecondary p,
.fontBody,
.fontBody p,
.pullout,
.btn,
.moduleContainer h2 {
    font-family: 'Glegoo', sans-serif;
}


/* BACKGROUNDS */

/* This color is used for header bars and date boxes and must be dark enough to read reversed text in. */
.backgroundAccentColor {
    background-color: #F94E54;
}



/* SITE BACKGROUND */

#siteBackground {
    overflow: hidden;
    position: fixed;
    top: 22px;
    right: 22px;
    bottom: 22px;
    left: 22px;
    background: #FFF;
    border: 1px solid #000;
    border-radius: 17px;
}
/* Header 1 is hidden on desktop because the site logo actually occurs in the sidebar when the design has two columns */
#header1 {
    overflow: hidden;
    display: none;
}
#siteLogo {
    float: none;
    max-width: inherit;
}
.hexBolt {
    position: fixed;
    width: 11px;
    height: 12px;
    opacity: .4;
    background: url('../images/hexBolt.png') no-repeat;
    background-size: 11px;
}
.hexBolt.one {
    top: 11px;
    left: 11px;
}
.hexBolt.two {
    top: 11px;
    right: 11px;
}
.hexBolt.three {
    right: 11px;
    bottom: 11px;
}
.hexBolt.four {
    bottom: 11px;
    left: 11px;
}
#landingContent {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 22px;
    right: 22px;
    opacity: 0;
    text-align: center;
}
.loaded #landingContent {
    transition: .6s opacity ease-out;
    -webkit-transition: .6s opacity ease-out;
    opacity: 1;
}
#logoMark img {
    margin: 0 auto;
    width: 116px;
}
#logoText img {
    margin: 60px auto 0 auto;
    width: 180px;
}
.intro {
    margin: 50px auto 0 auto;
    max-width: 350px;
    font-size: 16px;
    color: #575757;
}
.actionButton a {
    position: relative;
    display: inline-block;
    margin-top: 60px;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #575757;
    border: 2px solid #FBDC00;
    border-radius: 9px;
}
.actionButton a:hover {
    color: #222;
}
.actionButtonHover.left {
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -20px;
    border: 2px solid #888;
    border-radius: 9px;
}
.actionButton a:hover .actionButtonHover.left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonHoverMask.left {
    overflow: hidden;
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 55%;
    margin: -3px;
}
.actionButton a:hover .actionButtonHoverMask.left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.actionButtonHover.right {
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: -20px;
    border: 2px solid #888;
    border-radius: 9px;
}
.actionButton a:hover .actionButtonHover.right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.actionButtonHoverMask.right {
    overflow: hidden;
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 55%;
    margin: -3px;
}
.actionButton a:hover .actionButtonHoverMask.right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}



#starsTopLeft {
    position: absolute;
    top: 55px;
    left: 55px;
    width: 494px;
}